/*--------------------------------------------------
           import fonts-poppins: 500 
--------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*--------------------------------------------------
           common styles or utilities 
--------------------------------------------------*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  width: 100%;
}

/*--------------------------------------------------
           header section styles 
--------------------------------------------------*/
.heading-section {
  background-color: #2d25a0;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 86px;
}
.heading-flexible{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  height: 44px;
}
nav > div > a {
  text-decoration: none;
  color: white;
  margin-right: 36px;
}
.heading-banner {
  display: flex;
  align-items: center;
}
.heading-banner img {
  width: 556.01px;
  height: 438px;
  margin-top: 67px;
}
.banner-details {
  margin-top: 121px;
  margin-right: 102px;
}
.banner-title {
  width: 485px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 27px;
}
.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #e02c6d;
  border: none;
  width: 168px;
  height: 44px;
}
.arrow-button img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.fa-arrow-right {
  margin-left: 8px;
}
/*--------------------------------------------------
           players-gallery section styles 
--------------------------------------------------*/
.players-gallery {
  margin-top: 70px;
  margin-bottom: 165px;
  display: flex;
  justify-content: center;
}
.all-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1050px;
}
.player-container {
  background-color: #ffffff;
  width: 330px;
  height: 465px;
  margin-right: 30px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.player {
  width: 300px;
  height: 426px;
  margin-bottom: 15px 15px 35px 15px;
}
.photo-frame img {
  width: 300px;
  height: 256px;
}
.player-details {
  width: 300px;
  height: 154px;
}
.player-name {
  font-size: 28px;
  font-weight: 700;
  width: 300px;
  margin-top: 16px;
  margin-bottom: 10px;
}
.biography {
  width: 300px;
  font-size: 16px;
  font-weight: normal;
  color: #6c6c6c;
}

/*--------------------------------------------------
           Highlight-vedio section styles 
--------------------------------------------------*/
.highlight-videos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlight-details {
  width: 469px;
  height: 309px;
  margin-right: 66px;
}
.highlight-title {
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  color: #0a0826;
}
.highlight-details p {
  width: 404px;
  height: 113px;
  font-size: 16px;
  font-weight: normal;
  color: #6c6c6c;
  margin-top: 0;
}
.highlight-videos img {
  width: 567px;
  height: 427px;
}

/*--------------------------------------------------
           footer section styles 
--------------------------------------------------*/
#contact-info {
  margin-top: 158px;
  margin-bottom: 63px;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container .logo img {
  width: 483.87px;
  height: 110px;
}

.icon {
  display: inline;
  font-size: 40px;
  color: #969bab;
  margin-right: 14px;
}

/*--------------------------------------------------
    MediaQuery stylesheet for mobile devices
--------------------------------------------------*/